.button-container {
    height: 200px;
    position: relative;
    border: 3px solid green;
}

.button-container-center{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#login-button-1{
    background: black;
    justify-self: center;
    font-family: "Garamond", serif;
}

@keyframes fade-inout {
    0%,100%{ opacity: 0;}
    50%{ opacity: 1;}
}

@-webkit-keyframes fade-inout {
    0%,100%{ opacity: 0;}
    50%{ opacity: 1;}
}

.man{
    animation: fade-inout 10s linear forwards;
    -webkit-animation: fade-inout 10s linear forwards;

}

